name: Release

# Workflow must be dispatched manually
on: [workflow_dispatch]

jobs:
  # Use Lerna to publish monorepo packages and generate changelogs
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: configure git
        run: |
          git config --global user.name 'jr-codes'
          git config --global user.email 'bot@jr.codes'
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: https://registry.npmjs.org
      - run: node --version
      - run: npm config set //registry.npmjs.org/:_authToken=$NPM_TOKEN
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: npm whoami
      - run: npm it
      - run: npx lerna publish --force-publish --conventional-commits --create-release github --yes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
